*#
.#*
*.archive\#
*.org\#
*.swp
*.pyc
.ropeproject
2del-*
dev/2del/
testdata/2del/*
lib/tests/simple_org_-_lastrun.pk
parse_template.sh
regenerate_public_voit.sh
templates/.sass-cache/
testdata/end_to_end_test/lazyblorg-e2e-test-logfile.org
testdata/end_to_end_test/lazyblorg-e2e-test-new-metadata.pk
testdata/end_to_end_test/result/
2015-01-27-pyandoctests/*
/test_before_push_to_github.sh
wiki
/simple_org_-_lastrun.pk
testdata/imagecache
.pytest_cache/
venv/
run_all_unit_tests.sh
simple_org_-_lastrun_OLD.pk
OLDINVOCATIONSCRIPT_without_uv/
.python-version
.regenerate_public_voit_last_run.log
update_mypi.sh
lazyblorg.egg-info/
