/*  ------------------------------------------
 *  Generic stuff
 *  ------------------------------------------ */

/* http://html-color-codes.info/ */
/* http://sass-lang.com/guide */
/* http://www.w3schools.com/cssref/ */

$white: #fff;
$verylightgray: #f9f9f9;
$lightgray: #e0e0e0;
$gray: #7e7e7e; /* replacing #555 */
$darkgray: #252525;

$darkblue: #2222ff;
$darkaquablue: #004977;

$lightyellow: #fffff0;


header {
    @extend .middle_section_wide;
}


body {
    background: $lightyellow;
    color: $darkgray;
    /* font-family:Trebuchet MS,Verdana,Helvetica,sans-serif; */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 1em;
}

a {
    text-decoration: none;
}

#show-sidebar-text {
    /* show/hide sidebar stolen from: https://css-tricks.com/off-canvas-menu-with-css-target/
       .show-sidebar-text is only visible with horizontal-sidebar */
    display: none;
    float: right;
}

@mixin minor-contrast {
    color: $gray
}
@mixin minimum-contrast {
    color: $lightgray
}
.minor-contrast {
    @include minor-contrast
}
.minimum-contrast {
    @include minimum-contrast
}

@mixin show-big-search {
    #search-big {
	border: 0;
	visibility: visible;
	height: 6em;
    }
    #search-narrow {
	border: 0;
	visibility: hidden;
	height: 0px;
    }
}
@mixin show-narrow-search {
    #search-big {
	border: 0;
	visibility: hidden;
	height: 0px;
    }
    #search-narrow {
	border: 0;
	visibility: visible;
	height: 6em;
    }
}

@mixin narrow-maincolumns-30em-45em {
    .middle_section_narrow {
	margin-left: auto;
	margin-right: auto;
	max-width: 30em;
	padding-left: 1em;
	padding-right: 1em;
    }
    .middle_section_wide {
	margin-left: auto;
	margin-right: auto;
	max-width: 45em;
    }
}

@mixin narrow-maincolumns-40em-60em {
    .middle_section_narrow {
	margin-left: auto;
	margin-right: auto;
	max-width: 40em;
    }
    .middle_section_wide {
	margin-left: auto;
	margin-right: auto;
	max-width: 60em;
    }
}

@mixin narrow-sidebar-10em {
    .sidebar {
	max-width: 10em;
	display: initial;
	line-height: 24px;
	position: relative;
	font-size: 13px;
	/* #search_form_homepage { */
	/*     width: 115px; /\* original: 198px *\/ */
	/* } */
	/* #search_wrapper_homepage { */
	/*     width: 30px; */
	/* } */
    }
}

@mixin narrow-sidebar-15em {
    .sidebar {
	max-width: 15em;
	display: initial;
	line-height: 24px;
	position: relative;
	font-size: 13px;
	/* #search_form_homepage { */
	/*     width: 115px; /\* original: 198px *\/ */
	/* } */
	/* #search_wrapper_homepage { */
	/*     width: 30px; */
	/* } */
    }
}

@mixin horizontal-sidebar {

    /* show/hide sidebar stolen from: https://css-tricks.com/off-canvas-menu-with-css-target/
       .show-sidebar-text is only visible with horizontal-sidebar */
    /* #show-sidebar-text { */
    /* 	display: inline; */
    /* } */

    /* idea: show sidebar ul/li horizontal above content when page is too narrow:    */
    .sidebar {

	float: left;
	max-width: 40em;
	padding: 1em 0em 1em 0em; /* top right bottom left */
	line-height: 24px;
	font-size: 13px;
	ul {
	    list-style: outside none none;
	    float:right;
	}
	li {
	    float:left;
	    position: relative;
	}
	#search_wrapper_homepage {
	    width: 30px;
	}

	/* show/hide sidebar stolen from: https://css-tricks.com/off-canvas-menu-with-css-target/ */
	/* Collapsed */
	/* width: 0;  */
	/* overflow: hidden; */
	/* position: fixed; */
	/* top: 0; */
	/* left: 0; */
	/* height: 100%; */
	/* z-index: 1; /\* float above rest *\/ */

    }

    /* show/hide sidebar stolen from: https://css-tricks.com/off-canvas-menu-with-css-target/ */
    /* .toggle-sidebar { */
    /* 	transition: width 0.3s ease; */
    /* } */
    /* #show-sidebar:target { */
    /* 	width: 20%; */
    /* } */

}

/* ======================== */
/*    Responsive Design     */
/* ======================== */

@media (max-width: 50em) {  /* narrow maincolumn; suppress sidebar */
    @include narrow-maincolumns-30em-45em;
    @include horizontal-sidebar;
    @include show-narrow-search;
    .sidebar {
	display: none;
    }
}
@media (min-width: 50em) {  /* narrow maincolumn; narrow sidebar */
    @include narrow-maincolumns-30em-45em;
    @include narrow-sidebar-10em;
    @include show-narrow-search;
}
@media (min-width: 57em) {  /* narrow maincolumn; middle sidebar */
    @include narrow-maincolumns-30em-45em;
    @include narrow-sidebar-15em;
    @include show-narrow-search;
}
@media (min-width: 60em) {  /* max maincolumn; narrow sidebar */
    @include narrow-maincolumns-40em-60em;
    @include narrow-sidebar-10em;
    @include show-narrow-search;
}
@media (min-width: 74em) {  /* wide enough: original design without @media */
    @include narrow-maincolumns-40em-60em;
    .sidebar {
	max-width: initial;
	display: initial;
	line-height: initial;
	position: initial;
	font-size: initial;
    }
    @include show-big-search;
}


.common-header-nav {
    padding: 1em;
/*    padding-left: 13em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;*/
    border-radius: 1em;
    box-shadow: inset 0 2px 0 rgba(188, 147, 200, 0.7), -5px -4px 25px rgba(0, 0, 0, 0.3);
    background: $verylightgray;
    margin-bottom: 20px;
/*    margin-left: -2em;*/
}


.common-orgsource {
    float: right;
    font-size: 120%;
    font-family: Verdana, Geneva, sans-serif;
}


.common-tags {
    /* tags CSS originally and happily stolen from http://cssglobe.com/pure-css3-post-tags/ */
    @extend .middle_section_narrow;
    margin-right: 20%;  /* FIXXME: workaround until format of middle-section-narrow works */

    /*margin: 0;*/
    /*padding: 0;
    margin-top: 1em;
    margin-right: -2em;*/
    float: right;
    list-style: none outside none;
    /* definition: http://www.w3schools.com/cssref/pr_list-style.asp
          list-style: list-style-type list-style-position list-style-image|initial|inherit;
       "none" was original copied value from source
       default is: "disc outside none"
       because of displaying black bullet in different browsers I try "none outside none" */
    li {
	float: left;
	height: 30px;
	line-height: 24px;
	position: relative;
	font-size: 13px;
    }
    ul
    {
	list-style-type: none;
    }
    a {
	float: left;
	height: 24px;
	line-height: 24px;
	position: relative;
	font-size: 13px;
	margin-left: 20px;
	padding: 0 10px 0 12px;
	background: $darkblue;
	color: $white;
	text-decoration: none;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	&:before {
	    content: "";
	    float: left;
	    position: absolute;
	    top: 0;
	    left: -12px;
	    width: 0;
	    height: 0;
	    border-color: transparent $darkblue transparent transparent;
	    border-style: solid;
	    border-width: 12px 12px 12px 0;
	}
	&:after {
	    content: "";
	    position: absolute;
	    top: 10px;
	    left: 0;
	    float: left;
	    width: 4px;
	    height: 4px;
	    -moz-border-radius: 2px;
	    -webkit-border-radius: 2px;
	    border-radius: 2px;
	    background: $white;
	    -moz-box-shadow: -1px -1px 2px $darkaquablue;
	    -webkit-box-shadow: -1px -1px 2px $darkaquablue;
	    box-shadow: -1px -1px 2px $darkaquablue;
	}
	&:hover {
	    background: $gray;
	    &:before {
		border-color: transparent $gray transparent transparent;
	    }
	}
    }
}

.tag-cloud {
    .tagcloud-size-0 {
	font-size: 80%;
    }
    .tagcloud-size-1 {
	font-size: 120%;
    }
    .tagcloud-size-2 {
	font-size: 160%;
    }
    .tagcloud-size-3 {
	font-size: 200%;
    }
    .tagcloud-size-4 {
	font-size: 260%;
    }
    .tagcloud-size-5 {
	font-size: 320%;
    }
    .tagcloud-size-6 {
	font-size: 380%;
    }

    ul
    {
	list-style-type: none;
	overflow: auto;
    }
    a {
	float: left;
	position: relative;
	margin-left: 20px;
	padding: 0 10px 0 12px;
	text-decoration: none;
    }

}

.common-article {
    @extend .middle_section_narrow;
    margin-left: auto;
    margin-right: auto;
    /*padding-top: 2em;*/

    tr:nth-child(even) {background-color: $verylightgray};

    /*tr:hover {
	color: $lightyellow;
	background-color: $darkblue;
    }*/

    th {
	background-color: $darkgray;
	color: white;
	padding-left: 0.5em;
	padding-right: 0.5em;
    }

    td {
	padding-left: 0.5em;
	padding-right: 0.5em;
    }

}


.common-article-header-title {
    @extend .middle_section_narrow;
    padding-bottom: 1em;
    padding-top: 2em;
    margin-left: 20%;   /* FIXXME: workaround until format of middle-section-narrow works */
    margin-right: 20%;  /* FIXXME: workaround until format of middle-section-narrow works */
}



.breadcrumbs {
    font-size: 120%;
    font-family: Verdana, Geneva, sans-serif;
}

.section-title {
    color: $darkgray;
    margin-left: 1em;
}

.orgmode-hr {
    margin-top: 3em;
}

blockquote {
    @extend .middle_section_narrow;
    /* http://tympanus.net/codrops/2012/07/25/modern-block-quote-styles/ */
    background: $white;
    padding: 1em;
    border-radius: 1em;
    box-shadow: inset 0 2px 0 rgba(188, 147, 200, 0.7), -5px -4px 25px rgba(0, 0, 0, 0.3);
    &:before {
	/* http://text.jpatch.net/2010/09/css2-no-image-quotation-marks-in-blockquotes/ */
	content: '\201C';
	margin: 1em -0.15em 1em -0.15em;
	/*color:#33a8e5;*/
	color: $lightgray;
	/* light-gray */
	padding: 0.15em -0.5em -0.5em -0.5em;
	font-size: 60px;
	line-height: 12px;
	vertical-align: middle;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
    }
    br {
	margin-bottom: 10px;
    }
}

.example_code {
    @extend .middle_section_narrow;
    width: auto;
    background-color: $white;
    padding: 5px;
    border: 1px solid $lightgray;
    border-radius: 3px;
    border-style: solid none solid solid; /* top right bottom left */
    font-size: 14px;
    font-family: "courier new";
}


/* Image positioning with CSS: */
/* https://www.w3schools.com/css/css_align.asp */
/* http://www.inmotionhosting.com/support/edu/website-design/insert-images-website/align-float-images-css */

.image-right {
    float: right;
    text-align: right;
}

.image-left {
    float: left;
    text-align: left;
}

.image-float-right {
    float: right;
}

.image-float-left {
    float: left;
}

.image-center {
    text-align: center;
    /*display: block;
    margin: auto; */
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

figcaption {
    font-size: 80%;
    font-style: italic;
}

.figcaption-clue-link {
    font-size: 60%;
    font-style: italic;
}

.email-comment {
    @extend .middle_section_narrow;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7em;
    text-align: center;
    color: $darkgray;
    font-size: 80%;
}

.reading-time-section {
    @extend .middle_section_wide;
    font-size: 80%;
    color: gray;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 0.2em;*/
    padding-right: 15em;
}

.published-on {
    @extend .middle_section_wide;
    font-size: 80%;
    color: gray;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
}

.tag-pages-link-list {
    .timestamp {
	@include minor-contrast;
	font-size: 80%;
    }
}


footer {
    @extend .middle_section_wide;
    padding: 0.1em;
    border-radius: 1em;
    box-shadow: inset 0 2px 0 rgba(188, 147, 200, 0.7), -5px -4px 25px rgba(0, 0, 0, 0.3);
    background: $verylightgray;
    text-align: center;
    color: gray;
    font-size: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 20px;
    margin-top: 5em;
}

#disqus_thread {
    @extend .middle_section_narrow;
    margin-left: auto;
    margin-right: auto;
}


/*  ------------------------------------------
 *  Article
 *  ------------------------------------------ */

.temporal-article-header-nav {
    @extend .middle_section_wide;
    @extend .common-header-nav;
}


.month-overview-header-nav {
    @extend .middle_section_wide;
    @extend .common-header-nav;
}



.entry-page-article {
    @extend .common-article;
/*    padding-top: 3em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.5em;
    margin-bottom: 1.5em;
    border-radius: 0.2em;
    box-shadow: inset 0 2px 0 rgba(188, 147, 200, 0.7), -5px -4px 25px rgba(0, 0, 0, 0.3);
    background: white;*/
    .entry-page-article-tags {
	/*margin: -1.5em -1em 0px 0px;*/
	@extend .common-tags;
    }
}




/*  ------------------------------------------
 *  Permanent page
 *  ------------------------------------------ */

.persistent-header {

}

.persistent-body {
    margin-left: auto;
    margin-right: auto;
    p {
	/*@extend .middle_section_narrow;*/
    }
    h1 {
	font-size: 100%;
	color: black;
    }
}

.entrypage-article-header-nav {
    @extend .middle_section_wide;
    @extend .common-header-nav;
}

.persistent-article-header-nav {
    @extend .middle_section_wide;
    @extend .common-header-nav;
}


.entry-page-greetings {
    @extend .middle_section_narrow;
}

.entry-page-article {
    @extend .middle_section_narrow;
    padding-top: 3em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.5em;
    margin-bottom: 1.5em;
    border-radius: 0.2em;
/*    box-shadow: inset 0 2px 0 rgba(188, 147, 200, 0.7), -5px -4px 25px rgba(0, 0, 0, 0.3);*/
    box-shadow: inset 0 2px 0 rgba(188, 147, 200, 0.7), -5px -4px 15px rgba(0, 0, 0, 0.3);
    background: white;
    .entry-page-article-tags {
	margin: -1.5em -1em 0px 0px;
	@extend .common-tags;
    }
}

/*  ------------------------------------------
 *  Back-references
 *  ------------------------------------------ */

.back-references {
    @extend .middle_section_narrow;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;

    hr {
	border-color: $lightgray;
	color: $lightgray; border-style:solid;
	display: block;
	height: 2px;
    }

    p {
	margin-top: -0.5em;
	margin-bottom: -0.5em;
	font-size: 80%;
	color: $gray;
   }

    ul {
	list-style: none; /* we do use other bullet characters on li-level below */
    }
    li:before {
	content: "\1F517\00A0"; /* HEX UTF-8 character for a link followed by &nbsp; */
    }
}

/*  ------------------------------------------
 *  Sidebars
 *  ------------------------------------------ */

.sidebar {
    float: right;
    width: 15em;
    padding: 1em 0em 0em 1em; /* top right bottom left */

    ul li {
    /* definition: http://www.w3schools.com/cssref/pr_list-style.asp
          list-style: list-style-type list-style-position list-style-image|initial|inherit;
        */
	list-style-type: none;
	list-style-image: none;
	list-style-position: outside;
	margin-left: -2em;
	padding: 10px 0px 5px 0px;
    }

    iframe {  /* DuckDuckGo search bar */
	/* FIXXME: this does not have any effect */
	overflow:hidden;
	margin:0;
	padding:0;
	/*width:198px;*/
	height:40px;
    	font-size: .5em;
	padding-bottom: 0px;
    }
    /* #search-big { */
    /* 	visibility: visible; */
    /* } */
    /* #search-narrow { */
    /* 	visibility: hidden; */
    /* } */

}
